@model List<Category>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Product</h4>
            <a class="card-description" style="display:block;  margin:20px 0" href="/admin/product/create">
                Add  <code>Product</code>
            </a>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Name </th>
                        <th> Price </th>
                        <th> Create Date </th>
                        <th> Update Date </th>
                        <th> Details  </th>
                        <th> Update  </th>

                        <th> Delete  </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var category in Model)
                        {
                            <tr>
                                <td> @category.Id </td>   
                                <td> @category.Name  </td>
                                <td> $ @category.CategoryCount </td>
                                <td> @category.CreateDate</td>
                                <td> @category.UpdateDate</td>

                                <td> <a href="/admin/category/@category.Id">Details </a></td>
                                <td> <a href="/admin/category/update/@category.Id">Update </a></td>

                                <form method="post" asp-controller="category" asp-action="Delete" asp-area="Admin" asp-route-id="@category.Id">
                                <td> <a>Delete </a></td>
                                </form>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>